.insertItem-container {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  border: tomato;
}

.insertItem-container div {
  text-align: center;
}

.insertItem-container input {
  width: 80%;
  background-color: rgba(251, 253, 250, 0.7);
  box-shadow: 1px 2px 4px #888888;
  border-radius: 8px;
  padding: 1%;
}

.insertItem-container button {
  background-color: rgba(251, 253, 250, 0.7);
  box-shadow: 1px 2px 4px #888888;
  border-radius: 8px;
  color: rgb(19, 105, 19);
  border: rgb(19, 105, 19) solid 1px;
  height: 100%;
  width: 80%;
}

.insertItem-container button:hover {
  cursor: pointer;
  background-color: rgba(19, 105, 19, 0.7);
  transform: translate(0px, -2px);
}
