.listItem-container {
  background-color: rgba(251, 253, 250, 0.7);
  box-shadow: 1px 2px 4px #888888;
  border-radius: 8px;
  padding: 1%;
  display: grid;
  grid-template-rows: 40% 60%;
}

.listItem-container:hover {
  cursor: pointer;
  background-color: rgba(224, 224, 224, 0.7);
  transform: translate(0px, -5px);
}

.listItem-firstRow {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.listItem-firstRow p {
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem;
  color: #888888;
}
.listItem-secondRow {
  padding: 0.5rem;
  margin: 0px;
}

.listItem-trashBtn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
}
.listItem-trashBtn:hover {
  cursor: pointer;
  font-size: 1.2rem;
  color: red;
}

.listItem-secondRow {
  word-wrap: break-word;
  word-break: break-all;
}
