.toDoList-container {
  box-shadow: 2px 2px 4px #494949;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 252);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 70% 15%;
  padding: 0px;
}
.toDoList-container ul {
  list-style: none;
  padding: 0px;
}
.toDoList-container ul li {
  padding: 2%;
}

.listHeader-section {
  overflow: initial;
  margin: auto;
  text-align: center;
}

.listItem-section {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

.insertItem-section {
  overflow: auto;
  margin: auto;
  width: 100%;
}
