.main-container {
  background-image: url("../src/css/img/board-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
  font-family: "Ubuntu";
}

.toDoListContainer {
  position: relative;
  height: 80%;
  width: 60%;
  margin: auto;
  top: 5%;
}
